<h1>New Ticket</h1>

<div class="flex_parent_form">
  <p>
    Event name : <%= @event_for_ticket.event_name %>
  </p>
  <p>
    Event date : <%= @event_for_ticket.event_date %>
  </p>
  <p>
    Event time : <%= @event_for_ticket.event_time.strftime("%k:%M") %>
  </p>
  <p>
    Tickets left : <%= @event_for_ticket.amount_of_ticket %>
  </p>
  <p>
    Price for 1 ticket : <%= @event_for_ticket.price_by_ticket %> EUR
  </p>
</div>


<%= render 'form', ticket: @ticket %>

<%= link_to 'Back', tickets_path ,class:"btn btn-link" %>
